<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IServiceRequest">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/OrderQueue" binding="netMsmqBinding"
                bindingConfiguration="NetMsmqBinding_IServiceRequest" contract="ServiceRequest.IServiceRequest"
                name="NetMsmqBinding_IServiceRequest" />
        </client>
    </system.serviceModel>
</configuration>